@font-face {
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf"); }

header {
    width: 100%;
}
main {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: row; 
    flex-wrap: wrap; 
}
body {
    max-width: 1400px;
    margin:auto;
}
* {
    font-family: "raleway";
}
a {
    color: inherit;
    text-decoration: none;
}
.logoreservia {
    width: 110px;
}
.logo {
    order:0;
    flex: 1 25%;
    float: left;
    position: relative;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap ;
    align-content: center;
    width: 100%;
}
.liennav {
    font-weight: 500;
    border-top: 2px transparent solid;
    padding: 1rem;
}
.liennav:hover {
    border-top: 2px #0065fc solid;
    color: #0065fc; 
}
.navinscription {
    padding: 1rem;
    color: #0065fc;
}
#recherche {
    order:0;
    flex:1 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
#recherche h1 {
    margin-bottom:0;
}
#recherche p {
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    font-size: small;
}
form {                                         /*BARRE DE RECHERCHE*/

    display: inline-flex;
    height: 40px;
    margin: 0 0 2rem 0;   
}
form input {
    font-weight: 600;
    font-size: medium;
    border: 1px #f2f2f2 solid;
    padding-left: 1rem; 
}
form button { 
    text-align: center;
    color: white;
    font-size: medium;
    font-weight:500;
    border: 3px #0065fc solid;
    text-shadow: 0px 1px 0px white;
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
}
.cliquesearch {                         /*ICONE RECHERCHE LOUPE*/
   display:none; 
}
.fa-map-marker-alt {                  /*ICONE LOCALISATION*/         
    border: 2px #f2f2f2 solid;
    display: block;
    text-align: center;
    padding-top: 0.7rem;
    width: 2.3rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;}
#filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
#filtres h1 {
    margin:1rem 0 0 0;
    padding:0;
}
#filtres h2 {
    font-size: medium;
    margin: 1rem 1rem 1rem 0;
}
#filtres button {
    font-weight: bold;
    font-size: medium;
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-left: transparent;
    border-radius: 2rem;
    text-align: center;
    padding: 0 1rem 0 0;
    height: min-content;
    margin: 0 1.5rem 0 1rem;
}
#filtres button:hover {
    background-color: #deebff;
    cursor: pointer;
}
.infobulle {
    display: flex;
    flex-direction: row;
}

.fa-money-bill-wave {                       /*ICONES FILTRES*/
    background-color: #deebff;
    color : #0065fc;
    font-size: small;
    border: 1px #deebff solid; 
    border-radius: 2rem;
    padding : 0.8rem ;
    margin-right: 10px ;}
.fa-child {
    background-color: #deebff;
    color : #0065fc;
    font-size: small;
    border: 1px #deebff solid; 
    border-radius: 2rem;
    padding : 0.8rem;
    width: 20px;
    margin-right: 10px }
.fa-heart {
    background-color: #deebff;
    color : #0065fc;
    font-size: small;
    border: 1px #deebff solid; 
    border-radius: 2rem;
    padding : 0.8rem;
    margin-right: 10px }
.fa-dog { 
    background-color: #deebff;
    color : #0065fc;
    font-size: small;
    border: 1px #deebff solid; 
    border-radius: 2rem;
    padding : 0.8rem ;
    margin-right: 10px
}
.fa-info {
    display: block;
    width:15px;
    height: 15px;
    font-size: x-small;
    margin-right:0.5rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
    border: 1px #f2f2f2 solid;
    padding:0.3rem;
    color: #0065fc;
    background-color: white; 
}
                            /*SECTION HEBERGEMENT A MARSEILLE*/
#hebmarseille {                             
    order:1;
    flex:1 55%;
    display: flex;
    flex-direction: row;
    font-size: small;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 1rem; 
    margin:1rem 1.5rem 1rem 0rem;
    padding:1rem 2rem 1rem 2rem;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
}
#hebmarseille h2 {
    padding-top: 1rem;
    order: 0;
    flex: 1 100%;
}
#hebmarseille figure {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 1px 1px rgb(206, 204, 204);
    border-radius: 1rem;
    margin:1rem 0 1rem 0;

}
#hebmarseille img {
    margin: 0;
    padding: 0.25rem;
    width: 220px;
    height:110px;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: white;
    padding: 0.4em;
}
#hebmarseille figcaption {
    display: flex;
    flex-direction: column;
    padding:0.6rem;
    padding-top:0.3rem;
    font-size: medium;
    background-color: white;
    border-radius: 0rem 0rem 1rem 1rem;
    font-size: medium;
}
#hebmarseille figcaption p {
    margin:0.3rem 0 0.3rem 0;
    font-size: small;
}
.affplus {
    flex:8 100%;
    justify-content: left;
    font-weight: bolder;
    font-size: medium;
    margin:1rem 0 1rem 0;
}
                                /*SECTION LES PLUS POPULAIRES*/
#lespluspopulaires {                
    order:2;
    flex:1 25%;
    display: flex;
    flex-direction: column; 
    font-size: small;
    flex-wrap: wrap;
    align-content: left;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 1rem; 
    margin:1rem;
    padding:2rem 1rem 2rem 1rem;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
}
.fa-chart-line {
    font-size: x-large;
    padding: 1rem 0 0 0;
    margin:0 1rem 0 0;
}

.titrepopu {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 1rem;
}
#lespluspopulaires figure {
    display: flex;
    min-width: 280px;
    height: 120px;
    flex-wrap: wrap;
    padding:0.3rem;
    margin:1rem;
    background-color: white;
    box-shadow: 0px 2px 1px 1px rgb(206, 204, 204);
    border-radius: 1rem;
}
#lespluspopulaires img {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 1rem 0rem 0rem 1rem;
}
#lespluspopulaires figcaption p {
    margin:0.2rem 0 1rem 0;
    font-size: small;
}
.etoiles {
    padding-top: 1rem;
}
#lespluspopulaires figcaption {
    display: flex;
    flex-direction: column;
    padding:0.6rem;
    padding-top:0.5rem;
    font-size: medium;
    background-color: white;
    border-radius: 0rem 0rem 1rem 1rem;
    max-width: 150px;
    
}
                                /*SECTION ACTIVITES A MARSEILLE*/
#activitesmarseille {                   
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
    flex-wrap: wrap;
    order:3;
    border-radius: 1rem;
    margin:1rem 1rem 1rem 0;
    padding:1rem; 
}
#activitesmarseille h2 {
    order: 0;
    flex: 1 100%;
}
#activitesmarseille figure {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin:0.5rem 0 0.5rem 0 ;
    background-color: white;
    box-shadow: 0px 2px 1px 1px #f2f2f2;
}
.vieuxport, .calanques {
    border-radius: 1rem 1rem 0rem 0rem;
    width:280px;
    height: 365px;
}
.pomegues, .ilesdufrioul, .longchamp, .notredamedelagarde {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 300px;
    height: 150px;
}
.miniact {
    display: flex;
    flex-direction: column;
}
#activitesmarseille figcaption {
    text-align: center;
    font-size: small;
    font-weight: bold;
    padding: 1rem;
    margin:0;
    border-radius: 0rem 0rem 1rem 1rem;
    object-fit: cover;
    text-align: left;
}
.fa-star {
    color: #0065fc;
    margin-top: 1rem;
    margin:0;
    font-size: small;
}

ul {
    list-style: none; 
}
                               /*PIED DE PAGE*/
footer {                                  
    display: flex;
    font-size: small;
    justify-content: flex-start ;
    flex-direction: row;
    text-align: left;
    background-color: #f2f2f2;
    padding:1rem 2rem 1rem 0;
}
footer h3 {
    font-size: medium;
    text-align: left;
    margin:1rem 0 1rem 0;
    padding-left: 2.5rem;
}
.footercolonne {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}
.footlien {
    display: flex;
    flex-direction: column;
    text-align: left; 
    padding-bottom: 1rem;
}
                                        /*VERSION MOBILE*/
@media screen and (max-width: 420px) {
    main {
        width: 100%;
        flex-direction: column;  
    }
    body {
        max-width: 420px;
        margin:0
    }
    header {
        width: 100%;
        margin:0;
    }
    nav {
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: small;
    }
    .logoreservia {
        width: 70px;
    }
    .liennav {
        order:3;
        width: 40%;
        border-bottom: 2px #f2f2f2 solid;
        text-align: center;
    }
    .liennav:hover {
    border-bottom: 2px #0065fc solid;
    border-top:2px transparent solid; 
    }
    .navinscription {
        order:2;
        margin-left:3rem;
    }
    #recherche {
        width: 100%;
    }
    form {
        flex-wrap: nowrap;
        justify-content: left;
    }
    form input {
        font-weight: bold;
        font-size: medium;
        box-shadow: 0px 0px 0px black;
        padding: 0 0 0 1rem;
        width: 200px;
        margin:0;
        border-radius: 0;
    } 
    .cliquerecherche {
        display: none;
    }
    .cliquesearch {
    font-weight: 400;
    color: white;
    height: 40px;
    font-size: medium;
    display: block;
    margin-left: 14rem;
    text-shadow: none;
    border: 3px #0065fc solid;
    background-color: #0065fc;
    border-radius: 1rem;
    width: 3rem; 
    position: absolute;
    cursor: pointer;
    }
    #filtres {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #filtres h2 {
        flex: 1 100%
    }
    #filtres button {
        margin: 0.25rem ;
    }
    .infobulle {
        font-weight: 600;
    }
    .fa-star {
    font-size: small;
    }
    section {
        margin:auto;
        max-width: 370px;
        min-width: 320px;
    }
    #lespluspopulaires {
        order:0;
        flex:1 100%;
        border-radius: 0;
        padding:1rem;
        margin:0;
    }
    #lespluspopulaires figure {
    height: 120px;
    margin:1rem 0 1rem 0.5rem;
    }
    #lespluspopulaires img {
        width: 120px;
        height: 120px
    }
    #lespluspopulaires figcaption {
        font-size: medium;
    }
    #hebmarseille {
        order:1;
        flex:2 100%;
        border-radius: 0;
        padding:1rem;
        background-color: white;
        flex-direction: column;
        justify-content: left;
        box-shadow: none;
    }
    #hebmarseille figure {
        margin:0.5rem 0 0.5rem 0;
        width: 305px;
        padding:0.2rem;
        box-shadow: 1px 1px 1px 2px #f2f2f2;
    }
    #hebmarseille img {
        width: 300px;
        height:150px;
    }
    #hebmarseille figcaption {
        padding:0.3rem;
        padding-top:0.3rem;
        font-size: medium;
        width: 320px;
        border-top:none;
    }
    #activitesmarseille img {
        width: 300px;
        height:150px;
    }
    footer {
        flex-direction: column;
        height: auto;
        font-size: small;
        width: 100%;
    }
    .footercolonne {
        width: 100%;
        margin: 0;
    }
}
                                            /*VERSION TABLETTE*/
@media screen and (min-width:421px) and (max-width:1024px) {
    #filtres h2 {
        flex: 1 100%
    }
    #filtres button {
        margin: 0.25rem ;
    }
    #lespluspopulaires {
        flex:1 100%;
        flex-direction: row;
        margin:1rem 1.5rem 1rem 0rem;
        justify-content: space-between;
    }
    .titrepopu {
        order:-1;
        flex:1 100%;
    }
    #lespluspopulaires figure {
        height: 120px;
        margin:1rem 0 1rem 0.5rem;
    }
    #lespluspopulaires img {
        width: 100px;
        height: 120px
    }
    #lespluspopulaires figcaption {
        font-size: medium;
    }
    .miniact {
        order:0;
    }
    #activitesmarseille {
        flex-wrap: wrap;
    }
    .vieuxport, .calanques {
        border-radius: 1rem 1rem 0rem 0rem;
        width:260px;
        height: 365px;
        margin:0.2rem;
    }
    .pomegues, .ilesdufrioul, .longchamp, .notredamedelagarde {
        border-radius: 1rem 1rem 0rem 0rem;
        width: 260px;
        height: 150px;
        margin:0.2rem;
    }
    footer {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }
    .footercolonne {
        margin-right:0;
        padding:0;
        width: 100%;
    }
    .footlien {
        width: max-content;
    }    
}

