@font-face 
        {
            font-family: "raleway";
            src: url("font/Raleway-Regular.ttf");
        }
body
{
    font-family: "raleway", sans-serif;
    margin: 0px 5px 0px 10px;
}
a
{
    color:inherit;
    text-decoration: none;
}
section img
    {
        max-width: 150px;
        max-height: 150px;
    }
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; 
}
header nav li
{
    display: inline-block ;
    padding: 30px 25px 20px 25px;
}
header nav li:hover
{
    border-top: 2px #0065fc solid;
    color: #0065fc;
}
header nav li .navinscription
{
    color: #0065fc;
}
main
{
    display: flex;
    align-items: stretch;
    max-width: 1440px;
    flex-direction: column; 
    flex-wrap: wrap;
}
#filtres
{
    display: flexbox;
}
#filtres button
{
    font-family: "raleway";
    font-weight: bold;
    font-size: medium;
    background-color: white;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 10px 10px 0px;
}
#hebmarseille
{
    flex: 1 33%;
    margin: 15px;
    max-width: 850px;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
}
    #lespluspopulaires
            {
                flex: 2 33%;
                max-width: 590px;
                background-color: #f2f2f2;
                border-radius: 15px;
            }
    #activitesmarseille
            {
                flex: 3 100%;
                background-color: #f2f2f2;
                border-radius: 15px;
            }

    ul
            {
                list-style: none;
            }
    form
            {
                display: inline-flex;
                width: fit-content;
            }
.fas fa-map-marker-alt
{
            content: "\f3c5"; 
            display: block;
            text-align: center;
            min-width: 40px;
            max-width: 40px;
            min-height: 40px ;
            max-height: 40px;
            margin: auto;
            border-radius: 10px 0px 0px 10px;
            box-shadow: transparent black;
            background-color: #f2f2f2;
}
form input
    {
        display: block;
        font-weight: bold;
        font-size: medium;
        border: 1px #f2f2f2 solid;
        box-shadow: 0px 0px 0px black;
        padding: 0px 0px 0px 10px;
        block-size: 40px;
    }
form button
    {
        font-weight: 600;
        color: white;
        font-size: medium;
        display: block;
        border: 3px #0065fc solid;
        box-shadow: transparent black;
        text-shadow: 2px white;
        border-radius: 0px 10px 10px 0px;
        background-color: #0065fc;
        padding: 5px 10px 5px 10px;
        block-size: 40px;   
    }
footer
            {
                font-size: 13px;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
                flex-direction: row;
                background-color: #f2f2f2;
                width: 100%;
                height: 100%;
                margin: auto;
            }
    .footercolonne
            {
                display: flex;
                max-width: 100%;
                width: 1440px;
                box-sizing: border-box;
                padding: 20px 20px 20px 20px;
            }
    .footlien
            {
                display: flex;
                margin: 0.5rem 0 0 0;
            }
    .footcolonne
            {
                width: 100%;
                margin: auto;
            }
