@font-face {
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf"); }

body
{
    font-family: "raleway";
}
a
{
    color: inherit;
    text-decoration: none;
}
header
{
    display: flex;
    flex-wrap: wrap  ;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
}
header ul li 
{
    order: 1;
    align-self: center;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: left;
    list-style-type: none;
    text-align: center;
    margin: 0;
    font-weight: 500;
    border-top: 2px transparent solid;
    padding: 2rem 2rem 2rem 2rem;
}
header ul li:hover 
{
    border-top: 2px #0065fc solid;
    color: #0065fc; 
}
.logo
{
    order:0;
    flex:1 60%;
    text-align: left;
}
.navinscription
{
    order: 2;
    padding: 1rem;
    color: #0065fc;
}
main 
{
    display: flex;
    align-items: stretch;
    max-width: 100%;
    flex-direction: column; 
    flex-wrap: wrap; 
}
#recherche
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.cliquesearch /* ICONE DE RECHERCHE BALISE BUTTON*/
{
   visibility: hidden; 
}
form 
{
    display: inline-flex;
    width: fit-content ;
}
form input 
{
    font-weight: bold;
    font-size: medium;
    border: 1px #f2f2f2 solid;
    box-shadow: 0px 0px 0px black;
    padding: 0px 0px 0px 10px; 
}
form button 
{ 
    font-weight: 600;
    color: white;
    font-size: medium;
    display: block;
    border: 3px #0065fc solid;
    text-shadow: 2px white;
    background-color: #0065fc;
    padding: 5px 10px 5px 10px;
    border-radius: 0 1rem 1rem 0;
}
#filtres 
{
    display: flexbox; 
}
#filtres button 
{
    font-weight: bold;
    font-size: medium;
    background-color: white;
    border: 1px #f2f2f2 solid;
    border-radius: 20px 20px 20px 20px;
    padding: 0px 15px 0px 0px; 
}
#hebmarseille 
{
    flex: 1 33%;
    margin: 15px;
    max-width: 850px;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 15px; 
}
#lespluspopulaires 
{
    flex: 2 33%;
    max-width: 590px;
    background-color: #f2f2f2;
    border-radius: 15px; 
}
#activitesmarseille {
    flex: 3 100%;
    background-color: #f2f2f2;
    border-radius: 15px; 
}
section
{
    margin: 0.5rem;
}

@media  screen and (max-width: 1280px) { /*VOIR AVEC JULIE SI CELUI CI EST NECESSAIRE*/
    header
    {
        display: flex;
        flex-wrap: inherit  ;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    header ul li 
    {
        display: inline-flex;
        order:3; 
        flex-direction: row;
        border-bottom: 2px transparent solid;
        padding: 2rem 3rem 1rem 3rem;
    }
    header ul li:hover 
    {
        border-top: 2px #0065fc solid;
        color: #0065fc;
            }
    .logo
    {
        order:0;
        flex:1 ;
        text-align: left;
    }
    .navinscription
    {
        padding-top: 3rem;
        order: 1;
        padding: 1rem;
        color: #0065fc;
    }
    #recherche
    {
        max-width: 60%;
        justify-content: space-between;
    }    
}

@media screen and (max-width: 600px) {              /*VERSION MOBILE*/
    header
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        list-style-type: none;
        margin: auto;
    }
    header ul li
    {
       display: inline-flex;
       order:3; 
       flex-direction: row;
       justify-content: left;
       border-bottom: 2px #f2f2f2 solid;
       padding: 2rem 2rem 1rem 2rem;
       margin: auto;
    }
    .logo
    {
        order:-1;
        flex:1 50%
    }
    .navinscription
    {
        color: #0065fc;
        order:-1;
    }
    form 
    {
        display: inline-flex;
        width: fit-content ;
        max-width: 100%;
    }
    form input 
    {
        font-weight: bold;
        font-size: medium;
        border: 1px #f2f2f2 solid;
        box-shadow: 0px 0px 0px black;
        padding: 0px 0px 0px 10px;
        max-width: 15rem;
    } 
    .cliquerecherche
    {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        width: 1px;
    }
    .cliquesearch
    {
    visibility:visible ;
    font-weight: 600;
    color: white;
    font-size: medium;
    display: block;
    border: 3px #0065fc solid;
    text-shadow: 2px white;
    background-color: #0065fc;
    padding: 5px 10px 5px 10px;
    width: 6rem; 
    }
    #filtres
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #filtres button 
    {
        margin: 0.25rem ;
    }
}

.fa-map-marker-alt {                        /*ICONES FONT AWESOME*/
    border: 2px #f2f2f2 solid;
    padding: 5% ;
    margin: none;
    font-size: medium;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;}
.fa-money-bill-wave {
    background-color: #deebff;
    color : #0065fc;
    font-size: large;
    border: 1px #deebff solid; 
    border-radius: 20px;
    padding : 10px ;
    margin-right: 10px ;}
.fa-child {
    background-color: #deebff;
    color : #0065fc;
    font-size: large;
    border: 1px #deebff solid; 
    border-radius: 50%;
    padding : 10px ;
    width: 20px;
    margin-right: 10px }
.fa-heart {
    background-color: #deebff;
    color : #0065fc;
    font-size: large;
    border: 1px #deebff solid; 
    border-radius: 20px;
    padding : 10px;
    margin-right: 10px }
.fa-dog { 
    background-color: #deebff;
    color : #0065fc;
    font-size: large;
    border: 1px #deebff solid; 
    border-radius: 20px;
    padding : 10px ;
    margin-right: 10px}
.fa-info-circle {
    color: white;
    background-color: #0065fc;
    border-radius: 55%; 
    border: 2px #f2f2f2 solid;
    font-size: x-large}

ul 
{
    list-style: none; 
}
    footer                                  /*PIED DE PAGE*/
{
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: none; 
}
.footercolonne 
{
    display: flex;
    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px; 
}
.footlien 
{
    display: flex;
    margin: 0.5rem 0 0 0; 
}
.footcolonne 
{
    width: 100%;
    margin: auto; 
}
